body{
    background: linear-gradient(to right,#7fffe5,#00C9FF);
}
body div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div .gamingscreen{
    display: block;
    height: 300px;
    width: 400px;
    /* background: url("/publicfiles/images/background.jpg") repeat-x; */
    margin: 5% 0;
    border-radius: 10px;
    border: 1px solid rgb(179, 179, 179);
    overflow: hidden;
}
.gamingscreen div{
    background: url("/publicfiles/images/background.jpg") repeat-x;
    height: 300px;
    width: 10390px;
    animation: slide 45s linear infinite;
}
.gamingscreen span{
    z-index: 10;
    position: relative;
    top: -100px;
    left: 0px;
}
div .gamingconsole{
    flex-direction: row;

}
#buildings{
    position:relative;
    height: 300px;
    width: 50px;
    background-color: antiquewhite;
    top:0
}
.gamingconsole button{
    padding: 10px;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
}
button:hover{
    border: 2px solid;
    box-shadow: 2px 2px 20px rgba(83, 83, 83, 0.724);
}

@keyframes slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-9990px); /* The image width */
    }
  }