body{
    background: linear-gradient(to right,#7fffe5,#00C9FF);
}
body div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div .gamingscreen{
    display: block;
    height: 300px;
    width: 400px;
    background: linear-gradient(190deg,#56CCF2,#2F80ED);
    margin: 5% 0;
    border-radius: 10px;
    border: 1px solid rgb(179, 179, 179);
    overflow: hidden;
}
div .gamingconsole{
    flex-direction: row;

}
#buildings{
    position:relative;
    height: 300px;
    width: 50px;
    background-color: antiquewhite;
    top:0
}
#plane{
    height: 10px;
    width: 10px;
    background-color: brown;
}